doctype html
html
  head
    link(rel="stylesheet" href="styles/main.min.css")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="js/main.js")

  body
    include src/header/header.pug
    include src/body/body.pug
    include src/footer/footer.pug
