.header
  #hamburger
    span
    span
    span

  span.header-logo 6revisions
  .header__menu
    #close
      span
      span
    a(href="#") Home
    a(href="#") About
    a(href="#") Portfolio
    a(href="#") Contact
