html
  background-image: url(../images/main/tree.jpg) ;
  background-size:  100%;
  background-repeat: no-repeat-x;
  margin: 0;
  padding: 0px 50px 100px 50px;

@import "src/header/header.styl"
@import "src/body/body.styl"

/**************** media *************/

@media screen and (max-width: 980px)
  @import "src/media/980/header/header.styl"
  @import "src/media/980/body/body.styl"

@media screen and (max-width: 768px)
  @import "src/media/768/header/header.styl"
  @import "src/media/768/body/body.styl"

@media screen and (max-width: 480px)
  @import "src/media/480/header/header.styl"
  @import "src/media/480/body/body.styl"
@media screen and (max-width: 320px)
  @import "src/media/320/header/header.styl"
  @import "src/media/320/body/body.styl"
