.socialIcon
  display: grid;
  grid-template-rows: repeat(3,25px);
  grid-template-columns: 25px;
  grid-row-gap: 10px;
  top: 25%;
  left: 90%;
  z-index: 1;
  &__twiter, &__wifi, &__facebook
    img
      width: 100%;
  &__twiter
    img
      height: 100%;
