.main
  padding: 5%;

  &__p
    margin: 1% 0 5% 0;
    font-size: 1.4em;
  &__img
    display: flex;
    height: 10%;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    flex-content: center;
    padding-top: 8%;

    img
      margin-top: 30px;
      width: 45%;
      padding: 4% 0 0 4% ;


  &__btn
    padding-top: 5%;
    padding-bottom: 5%;

    &-btn
      font-size: 2em;
      width: 300px;
      height: 100px;
