.body
  display: flex;
  flex-direction: row;
  background-color: rgb(91, 88, 88);
  &__left
    display: flex;
    width: 50%;
    padding: 6%;
    margin-top: 50%;
    border-right: 6px solid grey;

    &-img
      width:20%;

      img
        margin: 40%;
        margin-top: 50%;
        margin-left: -30%;
        width: 100%;
    &-text
      width:70%;
    p
      color: white;


  &__right
    display: flex;
    width: 50%;
    padding: 6%;
    margin-top: 50%;

    &-img
      width:40%;
      img
        margin: 30%;
        margin-top: 20%;
        margin-left: 0%;
        width: 60%;
    &-text
      width:70%;
    p
      color: white;
