#hamburger
  display: block;
  position: absolute;
  width: 25px;
  height: 15px;
  cursor: pointer;
  left: 85%;
  top: 5%;

  span
    margin-top: 2px;
    display: block;
    width: 25px;
    height: 5px;
    background-color: white;
    border-radius: 5px;

.header__menu
  position:absolute;
  width: 100%;
  height: 250px;
  opacity: 0;
  left: -20%;
  background-color: rgb(85, 40, 3);
  transition: all 2s;
  transform: scale(0.001 ,0.001);
  text-align: center;
  a
    display: block;
    font-size: 1.4em;
    margin-top: 20px;
    margin-left: 15px;

  #close
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 90%;
    cursor: pointer;
    margin-top: 0;
    padding-top: 0;
    span
      display: block;
      position: absolute;
      border-radius: 10px;
      background-color: black;
      width: 20px;
      top: 30px;
      height: 2px;
      transform: rotate(45deg);
    span:last-child
      transform: rotate(-45deg);
