.iconPack
  border: 5px solid white;
  background-color: rgb(88, 37, 0);
  color: white;
  padding: 2% 4%;
  p
    text-transform: uppercase;
  &__text
    display: block;
    width: 300px;
  &__visit
    display: block;
    margin-top: 60px;
