.socialIcon
  //background-color: red;
  display: grid;
  grid-template-rows: repeat(3,70px);
  grid-template-columns: 70px;
  grid-row-gap: 30px;
  position: absolute;
  top: 30%;
  left: 91.5%;
  z-index: -1;
  &__twiter, &__wifi, &__facebook
    img
      width: 100%;
      border-radius: 10px;
  &__twiter
    img
      height: 100%;
