.socialIconPack
  border: 10px solid red;
  position: absolute;
  width: 400px;
  height: 300px;
  top: 200px;
  left: 500px;
  &__header
    color: white;
    letter-spacing: -1px;
    &-Brownsocial
      color: brown;
  &__body
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  &Body__row1-img, &Body__row2-img
    height: 50px;
    width: 65px;
