.socialIconPack
  position: absolute;

  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  opacity: 1;

  width: 30%;
  top: 35%;
  left: 50%;

  &__header
    width: 100%;
    height: 40px;
    letter-spacing: -1px;



    &-Brownsocial,&-other
      font-size: 1em;
      top: 25%;
      margin-left: -5%;

    &-Brownsocial
      left: 10%;

    &-other
      left: 28%;

    &-version
      top: 10%;
      left: 70%;
      font-size: 0.4em;

    &-size
      font-size: 0.5em;
      width: 8%;
      top: 15%;
      left: 86%;

    &-Brownsocial
      left: 8%;

  &__body
    background-color: rgb(70, 70, 70);


  &Body__row1, &Body__row2
    display: grid;
    height: 100px;
    grid-template-rows: repeat(4, 50px);
    grid-template-columns: repeat(3 ,50px);
    grid-column-gap: 1px;
    justify-content: space-around;
    grid-row-gap: 1px;
    img
      border-radius: 10%;
      width: 80%;
      height: 80%;
