.header__menu
  display: inline-block;
  float: right;
  padding-top: 20px;

  a
    text-decoration: none;
    font-size: 1.4em;
    margin-left: 15px;
    color: rgba(115, 70, 18, 0.98);
    &:hover
      color:rgb(153, 69, 0);
