@import "header/iconPack.styl"
@import "header/socialIconPack.styl"
@import "header/socialIcon.styl"
@import "body/body.styl"
@import "body/main.styl"
@import "footer/footer.styl"
body
  width: 95%;
  //border: 5px solid black;
