.body
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  &__left
    margin: 0;
    width: 88%;
    padding: 6%;
    border: none;
    border-bottom: 6px solid grey;

    &-img
      width:30%;
      margin: 130px 0 0 20px;

      img
        margin: 40%;
        margin-top: 50%;
        margin-left: -30%;
        width: 100%;
    &-text
      width:70%;


  &__right
    width: 88%;
    padding: 6%;
    margin: 0;

    &-img
      width:30%;
      margin: 130px 0 0 20px;

      img
        margin: 40%;
        margin-top: 20%;
        margin-left: 0%;
        width: 60%;
    &-text
      width:70%;
