.main
  padding: 5%;


  &__p
    margin: 1% 0 5% 0;
    font-size: 1.2em;
  &__img
    display: block;
    height: 10%;
    width: 100%;

    img
      display: block;
      width: 100%;
      padding: 10px 0 0 0 ;
      margin: 0;


  &__btn
    padding-top: 5%;
    padding-bottom: 5%;

    &-btn
      font-size: 1.2em;
      width: 120px;
      height: 40px;
